.head {
  margin: auto;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20vh;
  background-color: #ababab;
  padding: 80px 0;
  border-radius: 5px;
}
label {
  font-size: 25px;
}
select {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type="date"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#button {
  margin-left: 170px;
  text-align: center;
}
a {
  text-decoration: none;
}
